<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="testDomainMapper" >
    <resultMap id="BaseResultMap" type="com.mvc.practice.domain.TestDomain" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="test" property="test" jdbcType="VARCHAR" />
    </resultMap>
    <select id="findAll" resultMap="BaseResultMap">
        SELECT id, name, test FROM test_domain
    </select>
    <select id="findOne" parameterType="hashmap" resultMap="BaseResultMap">
        SELECT * FROM test_domain WHERE id = #{id}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO test_domain (name,test)
        VALUES (#{name},#{test})
    </insert>
    <update id="update">
        UPDATE test_domain SET
        name = #{name},
        test = #{test}
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM test_domain WHERE id = #{id}
    </delete>
</mapper>